{% include 'head.html' %}
{% include 'nav.html' %}

<div class="container">
  <div class="card my-5">
    <h5 class="card-header">Hall of Fame</h5>
    <div class="card-body">
      <h5 class="card-title">Greatness does not happen without great effort</h5>
      <p class="card-text">In celebration of the great efforts that many athletes have shown, below are shown some athletes' extreme milestones</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Hiker: {{ stats.max_elevation.0 }}</h5>
      <p class="card-text">Climbing higher than any other athletes, {{ stats.max_elevation.0 }} has reached a height of {{ stats.max_elevation.1 }} meters above the sea level with their bike.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Diver: {{ stats.min_elevation.0 }}</h5>
      <p class="card-text">Going deeper than any other athletes, {{ stats.min_elevation.0 }} has reached a height of {{ stats.min_elevation.1 }} meters above the sea level with their bike.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Camel: {{ stats.max_temperature.0 }}</h5>
      <p class="card-text">Braving the extreme heat, {{ stats.max_temperature.0 }} has biked while enduring a temperature of {{ stats.max_temperature.1 }} °C.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Penguin: {{ stats.min_temperature.0 }}</h5>
      <p class="card-text">Braving the extreme cold, {{ stats.min_temperature.0 }} has biked while enduring a temperature of {{ stats.min_temperature.1 }} °C.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Hamster: {{ stats.max_cadence.0 }}</h5>
      <p class="card-text">Pedalling as fast as they could, {{ stats.max_cadence.0 }} has achieved a cadence of {{ stats.max_cadence.1 }} revolutions / minute.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Power Plant: {{ stats.max_power.0 }}</h5>
      <p class="card-text">Generating energy at the fastest rate than any other athletes, {{ stats.max_power.0 }} has once generated {{ stats.max_power.1 }} Watts.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Heartbreaker: {{ stats.max_heartrate.0 }}</h5>
      <p class="card-text">Pushing themself beyond their limit, {{ stats.max_heartrate.0 }} has once achieved a heartrate of {{ stats.max_heartrate.1 }} beats / minute while biking.</p>
    </div>
  </div>

</div>

{% include 'foot.html' %}
