{% include 'head.html' %}
{% include 'nav.html' %}

<div class="container">
  <div class="card my-5">
    <h5 class="card-header">Hall of Fame</h5>
    <div class="card-body">
      <h5 class="card-title">Greatness does not happen without great effort</h5>
      <p class="card-text">In celebration of the great efforts that many athletes have shown, show below are some of our athletes' extreme milestones</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Mountain Goat: {{ stats.max_elevation.0 }}</h5>
      <p class="card-text">Climbing higher than any other athletes, {{ stats.max_elevation.0 }} has reached a height of {{ stats.max_elevation.1 }} meters above sea level on their bike.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Diver: {{ stats.min_elevation.0 }}</h5>
      <p class="card-text">Going lower than any other athletes, {{ stats.min_elevation.0 }} has gone to a height as low as {{ stats.min_elevation.1 }} meters above sea level with their bike.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Camel: {{ stats.max_temperature.0 }}</h5>
      <p class="card-text">Braving the extreme heat, {{ stats.max_temperature.0 }} has ridden while enduring a max temperature of {{ stats.max_temperature.1 }} °C.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Penguin: {{ stats.min_temperature.0 }}</h5>
      <p class="card-text">Braving the extreme cold, {{ stats.min_temperature.0 }} has ridden while enduring a temperature of {{ stats.min_temperature.1 }} °C.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Hamster: {{ stats.max_cadence.0 }}</h5>
      <p class="card-text">Pedaling as fast as they could, {{ stats.max_cadence.0 }} has reached a max cadence of {{ stats.max_cadence.1 }} RPM.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Strong Man: {{ stats.max_power.0 }}</h5>
      <p class="card-text">The highest wattage we've seen, {{ stats.max_power.0 }} has pushed a max of {{ stats.max_power.1 }} Watts.</p>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">The Heartbreaker: {{ stats.max_heartrate.0 }}</h5>
      <p class="card-text">Pushing themself beyond their limit, {{ stats.max_heartrate.0 }} has recorded a max heartrate of {{ stats.max_heartrate.1 }} BPM.</p>
    </div>
  </div>

</div>

{% include 'foot.html' %}
