{% include 'head.html' %}
{% include 'nav.html' %}

<div class="container">
  <h2 class="my-4"> {{ ride.ActivityName }} </h2>
  {%if calorie_count != None %}
	  <p> Calories Burned: {{ calorie_count.0 }} </p>
	  <p> Equal to {{ calorie_count.1 }} McDonald's Big Mac's!</p>
  {% else %}
  {% endif %}

  {% include '3d-map.html' %}
  <canvas id="MapChart"></canvas>
  <canvas id="latitudeChart"></canvas>
  <canvas id="longitudeChart"></canvas>
  <canvas id="elevationChart"></canvas>
  <canvas id="temperatureChart"></canvas>
  <canvas id="heartRateChart"></canvas>
  <canvas id="powerChart"></canvas>
  <canvas id="cadenceChart"></canvas>
  
  <form action="/delete/ride/{{ ride.ActivityId }}" method="POST" enctype="multipart/form-data">
    <button class="btn btn-danger">Delete Ride</button>
  </form>
  <form action="/update/ride/{{ ride.ActivityId }}" method="POST" enctype="multipart/form-data">
    <button class="btn btn-warning">Update Ride Name</button>
    <input type="text" name="newname"></input>
  </form>
</div>

{% include 'foot.html' %}
<script>
let longitude = {{datapoints.Longitude}};
let latitude = {{datapoints.Latitude}};
let elevation = {{datapoints.Elevation}};
let seconds = Array.from(latitude.keys());

let map = [];
for (var i = 0; i < longitude.length; i++) {
	const obj = {x : longitude[i], y : latitude[i]};
	map.push(obj);
}

new Chart(document.getElementById('MapChart').getContext('2d'), {
    type: 'scatter',
    data: {
        labels: {{latitude_longitude.Longitude}},
        datasets: [{
            label: 'Route',
            borderColor: 'black',
            data: map
        }]
    },
});

new Chart(document.getElementById('latitudeChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Latitude',
            borderColor: 'red',
            data: latitude
        }]
    },
});

new Chart(document.getElementById('longitudeChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Longitude',
            borderColor: 'green',
            data: longitude
        }]
    },
});

new Chart(document.getElementById('elevationChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Elevation',
            borderColor: 'blue',
            data: elevation
        }]
    },
});

new Chart(document.getElementById('temperatureChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Temperature',
            borderColor: 'orange',
            data: {{ datapoints.Temperature }}
        }]
    },
});

new Chart(document.getElementById('heartRateChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Heart Rate',
            borderColor: 'pink',
            data: {{ datapoints.Heartrate }}
        }]
    },
});

new Chart(document.getElementById('powerChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Power',
            borderColor: 'purple',
            data: {{ datapoints.Power }}
        }]
    },
});

new Chart(document.getElementById('cadenceChart').getContext('2d'), {
    type: 'line',
    data: {
        labels: seconds,
        datasets: [{
            label: 'Cadence',
            borderColor: 'teal',
            data: {{ datapoints.Cadence }}
        }]
    },
});
</script>
